@page "/todos"
@inject ITodoLoader TodoLoader
<h1>Current Todos</h1>

<table class="table">
    <thead>
            <tr>
                <th>Id</th>
                <th>Task</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
    <tbody>
    @foreach (var todo in todos)
    {
        <tr>
            <td>@todo.id</td>
            <td>@todo.title</td>
            <td>@(todo.completed ? "Complete": "Not Complete")</td>
            <td><button class=@(todo.completed ? "btn btn-primary btn-sm" : "btn btn-danger btn-sm") @onclick="() => MarkComplete(todo)">@(todo.completed ? "Mark Incomplete" : "Mark Complete")</button></td>

        </tr>
    }
    </tbody>
</table>

@code {
    private List<Todo> todos = new List<Todo>();
    protected override async Task OnInitializedAsync()
    {
        todos = await TodoLoader.GetTodos();
    }

    private async Task MarkComplete(Todo todo)
    {
        todo.completed = !todo.completed;
    }

}